            .align-items-center {
            align-items: center!important;
            }
            .d-flex {
                display: flex!important;
            }
            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
            }
            .img-fluid {
                vertical-align: middle;
                border-style: none;
                size: auto;
            }
            article,aside,figcaption,figure,footer,header,hgroup,legend,main,nav,section{
                display:block;
                background-color: white;
            }
            .section-gap {
                padding: 120px 0;
            }
            @media (min-width: 992px) {
            .col-lg-6 {
            flex: 0 0 50%;
            max-width: 50%;
            }
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: poppins,sans-serif;
            color: #222;
            line-height: 1.2em!important;
            margin-bottom: 0;
            margin-top: 0;
            font-weight: 600;
        }
        h1 {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
        ::selection {
            background-color: #7a77ff;
            color: #fff;
        }
            
            .full-body {
                background-image: url("../images/spiration dark.png");
                margin: 0;
                font-family: 'Lato', sans-serif;
            }
            
            .about {
                background-color: rgba(88, 57, 190, 0.493);
                color: white;
                object-fit: fill;
            } 
            .container {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
              }


            .overlay-desc {
                background: rgba(0,0,0,0);
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            #main-title {
                color: rgba(255, 255, 255, 0.89);
                margin-bottom: 20px;
                letter-spacing: 3px;
                text-align: right;
                bottom: 85px;
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                font-size: 5em;
                
              }
            @media all and (min-width: 960px) {
                #main-title{
                    font-size: 60px;
                    margin-bottom: 100px;
                }
            }
             
            @media all and (max-width: 959px) and (min-width: 600px) {
                #main-title{
                    font-size: 28px;
                    margin-bottom: 300px;
                }
            }
             
            @media all and (max-width: 599px) and (min-width: 320px) {
                #main-title{
                    font-size: 20px;
                    margin-bottom: 300px;
                }
             
            }
             
            
            .carousel-item {
                max-width: 100%;
                height: 80%;
            }
            .container-fluid {
                width: 100%;
            }
            .navbar{
                box-shadow:0 2px 5px 0 rgba(0,0,0,.16),
                0 2px 10px 0 rgba(0,0,0,.12);
                font-weight:300
            }
            article, aside, figcaption, figure, footer, header, hgroup, legend, main, nav, section {
                display: block;
                background-color: white;
            }
            .border-light {
                background-color: white;
            }
            /* this are switch classes */
            .light {
                background-image: url("../images/spiration-light.png");
                margin: 0;
            }
            .nav-light{
                background-color: #a3a3a3a1!important;
            }
            .about-light{
                background-color: black;
            }
            


            #portfolio-class {
                background-color: white;
            }

            #portfolio-class, #contact-class {
                border-color: #000;
                width: 100%;
                height: 100%;
            }
            .textInfo {
                background-image: white;
            }
            #myVideo {
                margin-right:-20px;
                min-width: 100%; 
                width: 100%;
                height: auto;
             
                object-fit: fill;
            }
            .bs-switch input:checked+.slider {
                background-color: skyblue;
            }
            * {
                margin: 0;
                padding: 0;
            }
            body {
                font-family: 'Open Sans', Arial, sans-serif;
                font-weight: 700;
            }
            .welcome-section {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #000;
                overflow: hidden;
            }
            .welcome-section .content-wrap {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
            .welcome-section .content-wrap .fly-in-text {
                list-style: none;
            }
            .welcome-section .content-wrap .fly-in-text li {
                display: inline-block;
                margin-right: 30px;
                font-size: 5em;
                color: #fff;
                opacity: 1;
                transition: all 2s ease;
            }
            .welcome-section .content-wrap .fly-in-text li:last-child {
                margin-right: 0;
            }
            .welcome-section .content-wrap .enter-button {
                display: block;
                text-align: center;
                font-size: 1em;
                text-decoration: none;
                text-transform: uppercase;
                color: #940d0d;
                opacity: 1;
                transition: all 1s ease 2s;
            }
            
            .welcome-section.content-hidden .content-wrap .fly-in-text li { opacity: 0; }
            .welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(1) { transform: translate3d(-100px, 0, 0); }
            .welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(2) { transform: translate3d(100px, 0, 0); }
            .welcome-section.content-hidden .content-wrap .enter-button { opacity: 0; transform: translate3d(0, -30px, 0); }
            
            @media (min-width: 800px) {
                .welcome-section .content-wrap .fly-in-text li { font-size: 10em; }
                .welcome-section .content-wrap .enter-button { font-size: 1.5em; }
            }

            /* pure */
            body {
                color: #777;
            }
            
            .pure-img-responsive {
                max-width: 100%;
                height: auto;
            }
            
            /*
            Add transition to containers so they can push in and out.
            */
            #layout,
            #menu,
            .menu-link {
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -ms-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }
            
            /*
            This is the parent `<div>` that contains the menu and the content area.
            */
            #layout {
                position: relative;
                left: 0;
                padding-left: 0;
            }
                #layout.active #menu {
                    left: 150px;
                    width: 150px;
                }
            
                #layout.active .menu-link {
                    left: 150px;
                }
            /*
            The content `<div>` is where all your content goes.
            */
            .content {
                margin: 0 auto;
                padding: 0 2em;
                max-width: 800px;
                margin-bottom: 50px;
                line-height: 1.6em;
            }
            
            .header {
                 margin: 0;
                 color: #333;
                 text-align: center;
                 padding: 2.5em 2em 0;
                 border-bottom: 1px solid #eee;
             }
                .header h1 {
                    margin: 0.2em 0;
                    font-size: 3em;
                    font-weight: 300;
                }
                 .header h2 {
                    font-weight: 300;
                    color: #ccc;
                    padding: 0;
                    margin-top: 0;
                }
            
            .content-subhead {
                margin: 50px 0 20px 0;
                font-weight: 300;
                color: #888;
            }
            
            
            
            /*
            The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
            appears on the left side of the page.
            */
            
            #menu {
                margin-left: -150px; /* "#menu" width */
                width: 150px;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 1000; /* so the menu or its navicon stays above all content */
                background: #191818;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
                /*
                All anchors inside the menu should be styled like this.
                */
                #menu a {
                    color: #999;
                    border: none;
                    padding: 0.6em 0 0.6em 0.6em;
                }
            
                /*
                Remove all background/borders, since we are applying them to #menu.
                */
                 #menu .pure-menu,
                 #menu .pure-menu ul {
                    border: none;
                    background: transparent;
                }
            
                /*
                Add that light border to separate items into groups.
                */
                #menu .pure-menu ul,
                #menu .pure-menu .menu-item-divided {
                    border-top: 1px solid #333;
                }
                    /*
                    Change color of the anchor links on hover/focus.
                    */
                    #menu .pure-menu li a:hover,
                    #menu .pure-menu li a:focus {
                        background: #333;
                    }
            
                /*
                This styles the selected menu item `<li>`.
                */
                #menu .pure-menu-selected,
                #menu .pure-menu-heading {
                    background: #1f8dd6;
                }
                    /*
                    This styles a link within a selected menu item `<li>`.
                    */
                    #menu .pure-menu-selected a {
                        color: #fff;
                    }
            
                /*
                This styles the menu heading.
                */
                #menu .pure-menu-heading {
                    font-size: 110%;
                    color: #fff;
                    margin: 0;
                }
            
            /* -- Dynamic Button For Responsive Menu -------------------------------------*/
            
            /*
            The button to open/close the Menu is custom-made and not part of Pure. Here's
            how it works:
            */
            
            /*
            `.menu-link` represents the responsive menu toggle that shows/hides on
            small screens.
            */
            .menu-link {
                position: fixed;
                display: block; /* show this only on small screens */
                top: 0;
                left: 0; /* "#menu width" */
                background: #000;
                background: rgba(0,0,0,0.7);
                font-size: 10px; /* change this value to increase/decrease button size */
                z-index: 10;
                width: 2em;
                height: auto;
                padding: 2.1em 1.6em;
            }
            
                .menu-link:hover,
                .menu-link:focus {
                    background: #000;
                }
            
                .menu-link span {
                    position: relative;
                    display: block;
                }
            
                .menu-link span,
                .menu-link span:before,
                .menu-link span:after {
                    background-color: #fff;
                    width: 100%;
                    height: 0.2em;
                }
            
                    .menu-link span:before,
                    .menu-link span:after {
                        position: absolute;
                        margin-top: -0.6em;
                        content: " ";
                    }
            
                    .menu-link span:after {
                        margin-top: 0.6em;
                    }
            
            
            /* -- Responsive Styles (Media Queries) ------------------------------------- */
            
            /*
            Hides the menu at `48em`, but modify this based on your app's needs.
            */
            @media (min-width: 48em) {
            
                .header,
                .content {
                    padding-left: 2em;
                    padding-right: 2em;
                }
            
                #layout {
                    padding-left: 150px; /* left col width "#menu" */
                    left: 0;
                }
                #menu {
                    left: 150px;
                }
            
                .menu-link {
                    position: fixed;
                    left: 150px;
                    display: none;
                }
            
                #layout.active .menu-link {
                    left: 150px;
                }
            }
            
            @media (max-width: 48em) {
                /* Only apply this when the window is small. Otherwise, the following
                case results in extra padding on the left:
                    * Make the window small.
                    * Tap the menu to trigger the active state.
                    * Make the window large again.
                */
                #layout.active {
                    position: relative;
                    left: 150px;
                }
            }
            
            
            
